/* Reset CSS section*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main CSS*/
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #faebd7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-image: linear-gradient(rgb(154,97,122, 1), rgb(97, 150, 154, 1))
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 0 1rem 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 0 0.5rem 0;
}

p {
    line-height: 1.4;
    padding: 1rem 0 1rem 0;
}

a {
    color: #e493b6;
}

a:visited {
    color: #e493b6;
}

input {
    width: 100%;
    padding: 8px 10px;
    margin: 8px;
    border-radius: 5px;
    border: solid 1px #a7a7a7;
    box-sizing: border-box;
}

input:focus {
    background-color:#d2c8ff;
}


label {
    padding: 8px;
    font-weight: 600;
}

.first_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 2rem;
    background-color: #414141;
    background-image: linear-gradient(rgb(154,97,122, 0.5), rgb(97, 150, 154, 0.5)), url("./assets/pexels_cat.jpeg");
    background-size: cover;
}

.first_row_mobile {
    display: none;
}

.first_column h2 {
    text-align: center;
}

.first_column img {
    width: 20%;
    min-width: 100px;
}

.second_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 3rem;
}


.main_container {
    display: flex;
    flex-direction: row;
    background-color: #61969a;
    height: 100vh;
    width: 100vw;
}

.signup_form {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0 0 0;
}

.svg_icons {
    width: 30%;
    height: 30%;
}

.form_title p, h1 {
    width: 100%;
}

.form_column1 {
    width: 30%;
    padding: 0 2rem 0 0;
}

.form_column2 {
    width: 30%;
}

.submit_section {
    padding: 0 0 0 10px;
}

.submit_form_btn {
    width: 245px;
    margin: 15px 0px 0px 8px;
    height: 2rem;
    margin: 2rem 0 0.5rem 0;
    background-color: #d2c8ff;
    color: #754e7e;
    font-weight: 600;
    border: none;
}

.submit_form_btn:hover {
    background-color: #746f8f;
    color: #faebd7;
}

.submit_form_btn:focus {
    outline: 4px solid #faebd7;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    text-align: center;
    font-size: 12px;
    padding: 2px 0 2px 0;
    background-color: #4b4b4b;
}

footer p {
    padding: 2px;
}


@media only screen and (max-width: 600px) {

    body {
        background-image: linear-gradient(rgb(154,97,122, 0.8), rgb(97, 150, 154, 0.8)), url("./assets/pexels_cat.jpeg");
        background-size: cover;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        padding: 1rem 0 1rem 0;
    }

    p {
        font-size: 0.8rem;
    }

    .main_container {
        display: block;
        background-color: rgba(255, 255, 255, 0);
    }

    .first_column {
        display: none;
    }

    .first_row_mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2rem 0 2rem 0;
        align-items: center;
        width: 100%;
    }

    .first_row_mobile img {
        width: 15%;
        min-width: 80px;
    }

    .second_column {
        width: 100%;
        padding: 0;
    }

    .form_column1 {
        width: 95%;
        padding: 0;
    }

    .form_column2 {
        width: 95%;
    }

    .submit_form_btn {
        width: 95%;
        margin-left: 8px;
    }

    .submit_section {
        padding: 0 0 5rem 0;
    }

    .submit_section p {
        text-align: center;
    }
}